/*
=============== 
Variables
===============
*/

:root {
    --dark-background: #181717;
    --my-gray-1: #E5E5E5;
    --my-hover: #2aa3db;
    --my-hover: #d64646;
  
  
   
    /* lighter shades of primary color */
    --clr-primary-6: hsl(43, 89%, 70%);
    --clr-primary-7: hsl(43, 90%, 76%);
    --clr-primary-8: hsl(45, 86%, 81%);
    --clr-primary-9: hsl(45, 90%, 88%);
    --clr-primary-10: hsl(45, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'PT Serif', serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
  }
  
  body {
    font-family: var(--ff-primary);
    background: #f6f5f5;
    background: var(--dark-background);
    color: #f6f5f5;
    line-height: 1.5;
    font-size: 0.875rem;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: var(--dark-background);
    text-decoration: none;
  }
  img:not(.nav-logo) {
    width: 100%;
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.75rem;
    font-family: 'PT Serif', serif;
    color: var(--dark-background);
    letter-spacing: 1px;
    font-weight: 700;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.3rem;
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3.2rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
  }
  /*  global classes */
  
  .btn {
    /*background: var(--clr-primary-5);*/
    color: var(--my-gray-1);
    padding: 0.5rem 1rem;
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 1rem;
    border: 2px solid var(--my-gray-1);
    cursor: pointer;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);*/ 
  }
  /*
  .btn:hover {
    color: var(--my-hover);
    border: 2px solid var(--my-hover);
  }*/
  
  /* section */
  .section {
    padding: 3rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
  
  .section-title {
    margin-bottom: 3rem;
    text-align: center;
  }
  
  /*
  =============== 
  Navbar
  ===============
  */
  #nav {
    background: var(--dark-background);
  }
  #nav a {
    color: var(--my-gray-1);
    font-size: 1.1rem;
  }

  #nav a.active{
    color: var(--my-hover);
  }
  
  #nav a:hover{
    color: var(--my-hover);
  }
  .nav-links {
    display: none;
  }
  .nav {
    background-color: var(--dark-background);
    height: 5rem;
    padding: 2rem;
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }
  .nav-header {
    background: var(--dark-background);
    display: grid;
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .nav-header a{
    font-family: var(--ff-primary);
  }
  
  .nav-btn {
    background: transparent;
    border-color: transparent;
    color: var(--my-gray);
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
  }

  @media screen and (min-width: 768px) {
    .nav {
      background: var(--clr-primary-10);
    }
    .nav-btn {
      display: none;
    }
    .nav-links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
      justify-self: end;
    }
    .nav-links a {
      text-transform: capitalize;
      color: var(--clr-grey-1);
      font-weight: bold;
      -webkit-transition: var(--transition);
      transition: var(--transition);
    }
  
    .nav-links a:hover {
      color: var(--my-hover);
    }
    .nav-center {
      color: var(--my-gray-1);
      display: grid;
      grid-template-columns: auto 1fr;
      -webkit-box-align: center;
      align-items: center;
    }
  }
  /* fixed navbar 
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-background);
    z-index: 2;
    box-shadow: var(--light-shadow);
  }*/
  /*
  =============== 
  Sidebar
  ===============
  */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-grey-10);
    z-index: 4;
    display: grid;
    /* align-items: center;
    justify-content: center; */
    place-items: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    /* add later */
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  /* toggle sidebar */
  .show-sidebar {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .sidebar-links {
    text-align: center;
  }
  
  
  .sidebar-links a {
    font-size: 2rem;
    text-transform: capitalize;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: var(--clr-grey-5);
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  
  .sidebar-links a:hover {
    color: var(--my-hover);
  }
  
  .social-icons {
    text-align: center;
    display: grid;
    margin-top: 3rem;
    width: 20rem;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    color: var(--dark-background);
  }
  .social-icon {
    font-size: 1.5rem;
    color: var(--dark-background);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  
  .social-icon:hover {
    color: var(--my-hover);
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    background: transparent;
    border: transparent;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    color: #200d0d;
    cursor: pointer;
  }
  .close-btn:hover {
    color: var(--my-hover);
  }
  
  
  /*
  =============== 
  Hero
  ===============
  */
  /* underline added to globals */
  h1{
    color: var(--my-gray-1);
    font-weight: bold;
  }
  span.colored{
    color:var(--my-hover);
  }
  
  .hero-img {
    display: none;
  }
  .hero {
    background: var(--dark-background);
  }
  .hero-center {
    min-height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
  }
  .hero-info h4 {
    color: var(--my-gray-1);
    font-size: 3rem;
  }
  .hero-icons {
    justify-items: start;
  
  }
  .hero-btn {
    margin-top: 1.25rem;
  }
  a.social-icon {
    color: var(--my-gray-1);
  }
  a.social-icon.mobile{
    color: var(--dark-background);
  }
  @media screen and (min-width: 992px) {
    .hero-img {
      display: block;
      position: relative;
    }
    .hero-center {
      grid-template-columns: 1fr 1fr;
    }
  
  }
  .hero-photo {
    max-width: 25rem;
    max-height: 30rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
  /*
  =============== 
  About
  ===============
  */
  /* section title added to globals */
  .section.about {
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1.3rem;
  }
  .about-info {
    text-align: left;
  }
  
  .about a{
    color: var(--my-hover);
    font-weight: 700;
  }
  
  .about p {
    color: var(--my-gray-1);
  }
  
  .about-info .btn{
  text-align: center;
  }
  
  section.about h2{
    color: var(--my-gray-1);
  }
  .about-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .about-title .underline {
    margin-left: 0;
  }
  
  @media screen and (min-width: 992px) {
  
    .about-center {
      grid-template-columns: 1fr 1fr;
    }
    .about-img {
      position: relative;
    }
    .about-img::before {
      left: -2rem;
    }
    .about-info {
      align-self: center;
    }
  }
  
  @media screen and (max-width:1200px){
    .section.about {
      margin-left: 15px;
      margin-right: 15px;
      font-size: 1rem;
    }
  }
  
  /*
  =============== 
  projects overview
  ===============
  */
  main{
    text-align: center;
    margin: 70px 150px;
  }
  
  main.proj-overview h2{
    color: #E5E5E5;
  }
  
  .titolo {
    padding: 200px 0;
  }
  
  .proj-container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 100px;
  }
  
  .proj-img{
    width: 55%;
  }
  
  .proj-text{
    text-align: left;
    padding-top: 55px;
    padding-left: 70px;
    /*background-color: red;*/
    width: 45%;
  }
  
  .proj-text.align-left{
    padding-left: 0;
    padding-right: 70px;
  }
  
  .proj-text p {
    padding: 20px 0;
    color: #E5E5E5;
  }
  
  .proj-text h3{
    color: #E5E5E5;
    font-size: 2.3rem;
  }
  
  .btn-small{
    background-color: var(--dark-background);
    text-align: center;
    margin: 0 auto;
    color: var(--dark-background);
    padding: .6rem 1.3rem;
    font-weight: bold;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: .8rem;
    border: 1px solid var(--my-hover);
    color: var(--my-hover);
    cursor: pointer;
    font-family: var(--ff-primary);
    text-transform: uppercase;
  }
  
  /*
  .btn-small:hover{
    color: var(--dark-background);
    background-color: var(--my-hover);
  }*/
  
  @media screen and (max-width:800px){
    main{
      text-align: center;
      margin: 10px 15px;
    }
    .proj-container {
      flex-direction: column;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  
    .proj-img{
      width: 100%;
    }
    
    .proj-text{
      text-align: left;
      padding-top: 40px;
      padding-left: 0px;
      /*background-color: red;*/
      width: 100%;
    }
  
    #item1{
      order: 1;
    }
  
    #item2{
      order: 0;
    }
  
    #btn-no-mobile{
      display: none;
    }
  
    .proj-text h3{
      font-size: 2rem;
    }
  }
  
  /*
  =============== 
  about page
  ===============
  */
  
  .proj-text.half{
    width: 50%;
  }
  
  .proj-text.half{
    width: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .proj-text.half{
      width: 100%;
    }
    
    .proj-text.half{
      width: 100%;
    }
  }
  
  
  /*
  =============== 
  Skills
  ===============
  */
  @media screen and (min-width: 768px) {
    .skills-center {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 2rem;
      -moz-column-gap: 2rem;
      column-gap: 2rem;
    }
  }
  .skills {
    background: var(--dark-background);
  }
  .skills h2 {
    
    color: var(--my-gray-1);
  }
  .skill {
    margin-bottom: 1.25rem;
  }
  .skill p {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--my-gray-1);
  }
  .skill-container {
    background: var(--clr-white);
    height: 1rem;
    width: 90%;
    border-radius: var(--radius);
    position: relative;
  }
  .skill-value {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--my-hover);
    height: 100%;
    width: 50%;
    border-radius: var(--radius);
  }
  .value-100 {
    width: 100%;
  }
  .value-90 {
    width: 90%;
  }
  .value-70 {
    width: 70%;
  }
  .value-60{
    width: 60%;
  }
  .value-80 {
    width: 80%;
  }
  .value-50{
    width: 50%;
  }
  .skill-text {
    position: absolute;
    top: -2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .skill-text-60 {
    left: 60%;
  }
  .skill-text-70 {
    left: 70%;
  }
  .skill-text-90 {
    left: 90%;
  }
  .skill-text-80 {
    left: 80%;
  }
  .skill-text-100 {
    left: 100%;
  }
  
  /*
  =============== 
  blog - card 
  ===============
  */
  .section-title.projects h2{
    color: #E5E5E5;
    
  }
  
  .section.blog h1{
    padding: 80px 0;
  }
  
  .blog-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 2.5rem;
  }
  
  .card {
    height: 29rem;
    position: relative;
    /* talk later */
    -webkit-perspective: 1500px;
    perspective: 1500px;
  }
  
  .card h4{
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .card p {
    font-size: 1rem;
  }
  
  .card-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
  }
  .card-front {
    background: var(--clr-white);
  }
  
  /* rest of the styles */
  .card-info {
    padding: 1rem 1.5rem;
  }
  .card-front img {
    height: 13rem;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
  .card-footer img {
    width: 2rem;
    height: 2rem;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .card-footer a {
    margin-bottom: 0;
    text-transform: uppercase;
    justify-self: end;
    color: var(--clr-primary-5);
    font-size: 0.85rem;
  }

  /*next page num in the blog page*/
  p.page-num{
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
  }
  a.page-numbers{
    color: #fff;
  }
  
  /*
  =============== 
  Single Page
  ===============
  */
  
  .single-page {
    background: #f6f5f5;
    background-color: var(--dark-background);
    min-height: calc(100vh - 5rem - 98px);
    text-align: left;
  }
  
  .single-page p {
    color: var(--my-gray-1);
    font-size: 1.2rem;
    
  }
  
  .page-info {
    max-width: 700px;
  }
  
  .page-info.contatti {
    text-align: center;
  }
  .page-info a {
    text-transform: capitalize;
    color: var(--my-hover);
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .page-info a:hover {
    opacity: .8;
  }
  
  .bottone {
    background-color: var(--dark-background);
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    color: var(--dark-background);
    padding: .8rem 2rem;
    font-weight: bold;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 1rem;
    border: 1px solid var(--my-hover);
    color: var(--my-hover);
    cursor: pointer;
    font-family: var(--ff-primary);
    text-transform: uppercase;
  }
  
  /*
  .bottone:hover{
    color: var(--dark-background);
    background-color: var(--my-hover);
  }*/
  
  /*
  =============== 
  single project page
  ===============
  */
  section.single-project p{
    padding-left: 70px;
    padding-right: 70px;
  }
  .info-project {
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  h2.project-title{
    padding: 70px 0;
  }
  
  .btn-cont{
    padding-top: 50px;
    text-align: center;
  }
  
  @media screen and (max-width: 800px) {
    section.single-project p{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  
  /*
  =============== 
  Footer
  ===============
  */
  .footer {
    padding-top: 50px;
    padding-bottom: 2rem;
    background: var(--dark-background);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .footer .social-icons {
    margin-bottom: 2rem; 
  }
  .footer .social-icon {
    color: var(--my-gray-1);
  }
  .footer .social-icon:hover {
    color: var(--my-hover);
  }
  .footer p {
    margin-top: 3rem; 
    font-size: .8rem;
    text-transform: capitalize;
    text-align: center;
    color: var(--my-gray-1);
  }
  
  @media screen and (max-width: 500px) {
    .footer {
      grid-template-columns:  1fr;
    }
  
    .footer p{
      order: 1;
    }
  
    .footer ul{
      order: 0;
    }
  }
